fastapi
uvicorn
pydantic
numpy
requests
google-cloud-aiplatform
vertexai
google-auth
google-oauth2-tool
asyncio
tensorflow
xgboost
scikit-learn
pandas
pillow
joblib
google-cloud-storage
google-cloud-bigquery
google-cloud-monitoring
python-multipart
